.players_div {
	width: 30rem;
    margin: 0 auto;
	height: 500px;
	border: 3px dashed black;
	text-align: start;
    margin-top: 2rem;
}

.player_list {
    list-style-type: none;
    margin-top: 1rem;
}