.red_title {
    color: #042b5f;
}

.card_bg {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 20rem;
    max-width: 250px;
}

.card_img_top {
    width: 50%;
    height: auto;
    object-fit: cover;
    padding: 1.5rem;
}