.main_div {
    width: 70%;
    height: 30rem;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 1000px;
    
}

.team_div {
	margin: 0 auto;
    margin-top: 2rem;
}

.player_msg {
    width: 20rem;
    text-align: center;
    margin: 0 auto;
}