.outer {
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.image_div {
	overflow: hidden;
}

.content {
	padding: 2rem;
	margin-right: 17rem;
	width: 45rem;
}

.loading {
	padding: 2rem;
	margin: 0 auto;
	width: 40rem;
}

.intro {
	width: 30rem;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

