.main_div {
    width: 70%;
    margin: 0 auto;
}

.players_div {
	width: 30rem;
    margin: 0 auto;
	height: 500px;
	border: 3px dashed black;
	text-align: start;
    margin-top: 2rem;
}

.active_player_msg {
    width: 25rem;
    text-align: start;
}

.player_list {
    list-style-type: none;
    margin-top: 1rem;
}