.players_div {
	width: 30rem;
	margin: 0 auto;
	height: 500px;
	border: 3px dashed black;
	text-align: start;
	margin-top: 2rem;
}

.active_player_msg {
	width: 25rem;
	text-align: start;
	margin-right: 2rem;
}

.player_list {
	list-style-type: none;
	margin-top: 1rem;
}

.outer {
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.inner_content {
	padding: 2rem;
	/* margin-right: 27rem; */
}

.search_filter label {
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-right: 1rem;
}

.search_filter input {
	font: inherit;
	padding: 0.5rem;
	border-radius: 6px;
	border: 1px solid #ccc;
	width: 20rem;
	max-width: 100%;
}
