.players_div {
	width: 30rem;
	margin: 0 auto;
	text-align: start;
	margin-top: 2rem;
}

.active_player_msg {
	text-align: center;
	width: 30rem;
	margin: 0 auto;
}

.player_list {
	list-style-type: none;
	margin-top: 1rem;
}

.outer {
	margin-top: 4rem;
	margin: 0 auto;
}

.inner_content {
	padding: 2rem;
	width: 40rem;
	margin: 0 auto;
}

.search_filter input {
	font: inherit;
	padding: 0.5rem;
	border-radius: 6px;
	border: 1px solid #ccc;
	width: 20rem;
	max-width: 100%;
}
