.main_div {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}

.team_div {
	margin: 0 auto;
    margin-top: 2rem;
}

.player_msg {
    width: 25rem;
    text-align: center;
    margin: 0 auto;
}