.outer {
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.content {
	padding: 2rem;
	width: 40rem;
	margin-right: 18rem;
}

.image_div {
	overflow: hidden;
}

.team_img {
    width: 250px;
    height: auto;
    margin-right: 2rem;
    border-radius: 5px;
}

.active_player_msg p {
    margin-top: 3rem;
    width: 250px;
	color: #032b43;
}

.intro p {
	width: 30rem;
	margin: 0 auto;
	margin-top: 2rem;
}
