.header {
  width: 100%;
  height: 4rem;
  background-color: #032B43;
  padding: 0 10%;
}

.header nav {
  height: 100%;
}

.header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: flex-start;
}

.header li {
  margin: 0 1rem;
  width: 3rem;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #FFBA08;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid #FFBA08;
  text-decoration: none;
}
